@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "common/main";

body {
  background: @nice-white;
}
  .header-major;
  #dashboard-container {
    .app-list {
      a {
        display: block;
        text-decoration: none;
        background-color: transparent;
        margin: 0 50px;
      }
      margin-top: 20px;
      text-align: center;
      .icon-view {

        margin-top: 20px;
        margin-bottom: 40px;
        .icon-wrapper-enable {
          background-color: rgba(49, 116, 193, .2);
          border-radius: 25px;
          box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
          .icon-img {
            height: 200px;
            span {
              margin-top: 58px;
              font-size: 80px;
            }

          }
          .icon-name {
            height: 60px;
            padding: 8px 5px;
            border-top: 1px solid rgba(0, 0, 0, .055);
            border-radius: 0 0 25px 25px;
            background-color: #616775;
            color: rgba(255, 255, 255, .85);
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 2px;
            text-align: center;
            text-shadow: 0 7px 15px rgba(0, 0, 0, .25)
          }
        }
        .icon-wrapper-disable {
          background-color: rgba(25, 43, 81, 0.45);
          border-radius: 25px;
          box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
          .icon-img {
            height: 200px;
            span {
              margin-top: 58px;
              font-size: 80px;
              color: #23527c;
            }

          }
          .icon-name {
            height: 60px;
            padding: 8px 5px;
            border-top: 1px solid rgba(0, 0, 0, .055);
            border-radius: 0 0 25px 25px;
            background-color: #616775;
            color: rgba(255, 255, 255, .85);
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 2px;
            text-align: center;
            text-shadow: 0 7px 15px rgba(0, 0, 0, .25)
          }
        }

      }
    }
  }


