@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "common/main";
@import "../../node_modules/font-awesome/less/font-awesome.less";

body {
  background-color: @pale-white;
}

#homework {
  .header-major;
  header {
    margin-bottom: 14px;
  }
  .homework-nav-icon {
    font-size: 25px;
  }
  .selected {
    background: #BCD2EE;
  }
  .home-icon {
    margin-top: 26%;
  }
  .disabled {
    background-color: #AAAAAA;
    color: #f5f5f5;
  }
  .lose {
    float: right;
    width: 130px;
    height: 20px;
    background: @red;
    margin-top: -27px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5%;
    color: @white;
    opacity: 0.6;
  }
  button.list-group-item {
    outline: none;
  }
  .content {
    background-color: @white;
    height: 600px;
    overflow-y: scroll;
    .nav-tabs > li > a {
      outline: none;
    }
    text-align: center;
    border-radius: 4px 0 0 0;
    .row {
      margin-top: 30px;
      margin-bottom: 50px;
    }
    .tab-content {
      .templateRepo {
        margin: 10px auto;
        span {
          margin: 0 10px;
        }
        em {
          padding: 2px 10px;
          border: none;
          border-radius: 2px;
          background: #eee;
        }
      }
    }
  }

}
